body {
  background-image: url("a07ad08920f303f655251b1a0b353b86_w200.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  color: yellow;
}
p {
  color: orange;
}
